.landingpage{
    display: flex;
    flex-direction: column;
    background-color: #FFE4BB;
    padding: 0px 20px;
    width: 20%;
    border-radius: 22px 22px 22px 22px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 100px;


}

