@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none;
}

body {
  background-color: white;
}

.landingpage {
  display: flex;
  flex-direction: column;
  background-color: #FFE4BB;
  padding: 0px 20px;
  width: 20%;
  border-radius: 22px 22px 22px 22px;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 100px;
}
.landingpage__background {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/institucion.png");
}
.landingpage__background--credentials {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/backgorund_dark.jpg");
}
.landingpage__logo {
  padding: 46px 0;
}
.landingpage__btn {
  display: flex;
  justify-content: space-around;
  width: 48%;
}
.landingpage__btn--start {
  background: none;
  border: 0;
  width: 325px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/iniciar_btn.png");
}
.landingpage__btn--start:hover {
  background-image: url("../images/iniciar_orange_btn.png");
}
.landingpage__btn--register {
  background: none;
  border: 0;
  width: 325px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/registrar_btn.png");
}
.landingpage__btn--register:hover {
  background-image: url("../images/registrar_btn_hover.png");
}
.landingpage__btn--send {
  background: none;
  border: 0;
  width: 100%;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/iniciar_btn.png");
}
.landingpage__btn--send:hover {
  background-image: url("../images/iniciar_btn.png");
}
.landingpage__btn--sendRegister {
  background: none;
  border: 0;
  width: 100%;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/registrar_btn.png");
}
.landingpage__btn--send:hover {
  background-image: url("../images/iniciar_btn.png");
}
.landingpage__btn--read {
  margin: 20px 0;
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/leer_btn.png");
}
.landingpage__btn--read:hover {
  background-image: url("../images/leer_orange_btn.png");
}
.landingpage__img {
  width: 100%;
  height: 60px;
  background-image: url("../images/iniciar_title.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.landingpage__title {
  margin: 20px 0;
  width: 100%;
  height: 60px;
  background-image: url("../images/cap_title.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.landingpage__seccion {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.landingpage__caps {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../images/backgorund_dark.jpg");
}
.landingpage__cap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landingpage__container {
  display: flex;
  align-items: center;
  width: 20%;
}
.landingpage__cover {
  width: 90%;
}
.landingpage__arrow {
  width: 10%;
  height: 90px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/next_arrow.png.png");
}
.landingpage__arrow:hover {
  background-image: url("../images/next_arrow_hover.png");
}

.input {
  width: 100%;
  height: 50px;
}
.input__label {
  width: 100%;
  font-weight: 600;
  padding-top: 20px;
}

.comic {
  display: flex;
  align-items: center;
}
.comic--page {
  width: 100%;
  height: 1886px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/pagina_1.png");
}
.comic--part {
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-image: url("../images/pag3_question.png");
}
.comic--arrowPrev {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-image: url("../images/previous_arrow.png");
}
.comic--arrowPrev:hover {
  background-image: url("../images/previous_arrow_hover.png");
}
.comic--arrowNext {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-image: url("../images/next_arrow.png.png");
}
.comic--arrowNext:hover {
  background-image: url("../images/next_arrow_hover.png");
}
.comic--container {
  width: 100%;
  height: auto;
}
.comic--btn {
  background: none;
  border: 0;
  width: 100%;
  height: 123px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.comic--opcions {
  display: flex;
}
.comic--opcion1 {
  background-image: url("../images/choice 1.1.png");
}
.comic--opcion2 {
  background-image: url("../images/choice 1.2.png");
}/*# sourceMappingURL=main.css.map */