@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none;
}

body {
  background-color: #efffbb;
}

.landingpage {
  display: flex;
  flex-direction: column;
  background-color: #FFE4BB;
  padding: 0px 20px;
  width: 20%;
  border-radius: 22px 22px 22px 22px;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 100px;
}
.landingpage__background {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/institucion.png");
}
.landingpage__background--credentials {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/backgorund_dark.jpg");
}
.landingpage__logo {
  padding: 46px 0;
}
.landingpage__btn {
  display: flex;
  justify-content: space-around;
  width: 48%;
}
.landingpage__btn--start {
  background: none;
  border: 0;
  width: 325px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/iniciar_btn.png");
}
.landingpage__btn--start:hover {
  background-image: url("../images/iniciar_orange_btn.png");
}
.landingpage__btn--register {
  background: none;
  border: 0;
  width: 325px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/registrar_btn.png");
}
.landingpage__btn--register:hover {
  background-image: url("../images/registrar_btn.png");
}
.landingpage__btn--send {
  background: none;
  border: 0;
  width: 100%;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/iniciar_btn.png");
}
.landingpage__btn--sendRegister {
  background: none;
  border: 0;
  width: 100%;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/registrar_btn.png");
}
.landingpage__btn--send:hover {
  background-image: url("../images/iniciar_btn.png");
}
.landingpage__img {
  width: 100%;
  height: 60px;
  background-image: url("../images/iniciar_title.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.input {
  width: 100%;
  height: 50px;
}
.input__label {
  width: 100%;
  font-weight: 600;
  padding-top: 20px;
}

.comic {
  display: flex;
  align-items: center;
}
.comic--page {
  width: 100%;
  height: 1786px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/pagina_1.png");
}
.comic--arrow {
  width: 10%;
  height: 180px;
  padding: 30px, 0;
}/*# sourceMappingURL=main.css.map */